
#mainContainer{
    width: 70%;
    margin:auto

}

#feedRow{
    width:100%;
}


@media(max-width:720px){
    #mainContainer{
        width:100%;
    }
    #colProfile,#colConnection{
        display: none;
    }

    #feedRow{
        width:100%;
    }

    #feedCol{
        width:100% ;
        margin-left:10px;
        margin-right: 5px;
    }

}

@media(max-width:1000px) {
    #mainContainer{
        width:90%;
    }

    #colConnection{
        display:none;
    }
    
    #colProfile{
        order: 1;
        width:40%;
        margin:0%;
        background-color: lightgrey;
       
    }

    #feedCol{
        min-width:60%;
        
    }
}

